<%= form_for(@event, :html => { :multipart => true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br />
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, ["News", "Social", "Cultural", "Community", "Political"], :prompt => 'Select One' %>
  </div>
  <br />
  <div class="field hsfalse">
    <%= f.label 'Date' %>
    <%= f.date_select :day %>
  </div>
  <br />
  <div class="field hsfalse">
    <%= f.label 'Start Time' %>
    <%= f.time_select :starttime, :ampm => true %>
  </div>
  <br />
  <div class="field hsfalse">
    <%= f.label 'Add End Time?' %>
    <%= f.check_box :addend %>
  </div>
  <br />
  <div class="field hsfalse endtime">
    <%= f.label 'End Time' %>
    <%= f.time_select :endtime, :ampm => true %>
  </div>
  <br />
  <div class="field hsfalse">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Use Subtitle?' %>
    <%= f.check_box :hassub %>
  </div>
  <br />
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, :disabled => true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info %>
  </div>
  <br />
  <% unless @event.new_record? || !@event.photo? %>
    <div class="field">
      <%= f.label 'Delete photo?' %>
      <%= f.check_box :photo_delete %>
    </div>
    <br />
  <% end %>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Add to newsletter?' %>
    <%= f.check_box :newsletter %>
  </div>
  <br />
  <div class="field newsletter">
    <%= f.label :priority %>
    <%= f.select :priority, [["Major CASA Event (7)", 7], ["Minor CASA Event (6)", 6], ["Joint CASA Event (5)", 5], ["Other Chinese Event (4)", 4], ["Other Asian Event (3)", 3], ["Other Yale Event (2)", 2], ["Not Even Yale Affiliated (1)", 1]], :prompt => 'Select One' %>
  </div>
  <br />
  <div class="field newsletter">
    <%= f.label 'News Until' %>
    <%= f.date_select :newsuntil %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Create event on Facebook?' %>
    <%= f.check_box :fb %>
  </div>
  <%= hidden_field_tag :fb_prev, @event.fb %>
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
