<div id="admincontent">

<h1 class="adminlink"><%= link_to 'New Event', new_event_path %></h1>
<br />
<br />

    <% @events.each do |event| %>
        <div class="post">
            <div class="posticon">
                <img class="lantern" src="<%= asset_path 'lantern.png' %>" alt="Lantern">
                <h3 class="date"><%= event.day.strftime("%b").upcase %><br /><%= event.day.strftime("%d") %></h3>
            </div>
            
            <div class="posttitles">
                <h1 class="title"><%= link_to event.title, event %></h1>
                <p class="subtitle">
                    <% if event.hassub %>
                        <%= event.subtitle.html_safe %>
                    <% else %>
                        <% if event.addend %>
                            <%= event.day.strftime("%A, %B %e, %Y. ") + event.starttime.strftime("%l:%M%p").downcase + " - " + event.endtime.strftime("%l:%M%p.").downcase %>
                        <% else %>
                            <%= event.day.strftime("%A, %B %e, %Y. ") + event.starttime.strftime("%l:%M%p.").downcase %>
                        <% end %>
                        <%= event.location + "." %>
                    <% end %>
                </p>
            </div>


          <% if event.photo? %>
          <div class="postphoto"><a href="<%= event.photo.url %>"><%= image_tag event.photo.url(:display) %></a></div>
          <% end %>

            <p class="postcontent"><%= event.info.html_safe %></p>
            <p class="postbottom">posted under <a href="list?=<%= event.category %>"><%= event.category %></a> |&#160;</p>
            <p class="postbottom"><%= link_to 'Edit', edit_event_path(event) %> |&#160;</p>
            <p class="postbottom"><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></p>
        </div>
    <% end %>

<p class="contentnav"><a href="/admin">Back to Admin Center</a></p>

</div>