<div id="admincontent">

<h1 class="adminlink">Newsletter Form</h1>
<br />

<%= form_tag(newsletter_url, :method => :get) do %>

  <div class="field">
    <%= label_tag 'Date' %>
    <%= select_date Date.today, :prefix => :newsdate %>
  </div>
  <br />
  <div class="field">
    <%= label_tag 'Message' %>
    <%= text_area_tag :message, params[:message], :rows => 15 %>
  </div>
  <br />
  <div class="field">
    <%= label_tag 'Addendum?' %>
    <%= check_box_tag :addendum %>
  </div>
  <br />
  <br />
  <div class="actions">
    <%= submit_tag "Send" %>
    <%= submit_tag "Preview" %>
  </div>

<% end %>

<p class="contentnav"><a href="/admin">Back to Admin Center</a></p>

</div>