<div style="background-color:#332c29;background-image:none;background-repeat:repeat;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;"><div class="adM">
    </div><table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr>
            <td align="center"><div align="center">
                
                <table border="0" cellpadding="0" cellspacing="0" width="650">

                    <tbody><tr>
                        <td>
                            <img src="http://i.imgur.com/9UK94.png" height="300" width="650">
                        </td>
                    </tr>

                </tbody></table>
            </div></td>
        </tr>
        <tr>
            <td align="center"><div align="center">
                
                <table style="background-color:#f7eedd;padding:0 20px 10px;" border="0" cellpadding="0" cellspacing="0" width="500">

                    <tbody><tr>
                        <td colspan="2" style="border-bottom:1px solid #ded3b7">
                            <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;font-weight:bold;font-size:20px;padding-left:20px;">Hello friend!</p>
                            <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;padding:0px 40px;font-size:14px;"><%= @message.html_safe %></p>
                            <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;padding-left:60px;font-size:14px;">Best regards,</p>
                            <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;font-weight:bold;font-size:20px;padding-left:80px;"><span class="il">CASA</span> Board</p>
                        </td>
                    </tr>

                    <% @events.each do |event| %>

                        <tr><td colspan="2" style="padding-top:10px;"></td></tr>
                        <tr>
                            <td style="background-image:url('http://i.imgur.com/Rh5Au.png')" height="80" width="80">
                                <p style="text-align:center;font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#cd8c86;font-weight:bold;font-size:13px;"><%= event.day.strftime("%b").upcase %><br><%= event.day.strftime("%d") %></p>
                            </td>
                            <td>
                                <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;padding-left:5px;font-size:14px;"><span style="font-size:20px;font-weight:bold;"><a style="color:#cd8c86;text-decoration:none;" href="<%= "http://yalecasa.herokuapp.com" + url_for(event) %>"><%= event.title %></a></span><br>
                                    <% if event.hassub %>
                                        <%= event.subtitle.html_safe %>
                                    <% else %>
                                        <% if event.addend %>
                                            <%= event.day.strftime("%A, %B %e, %Y. ") + event.starttime.strftime("%l:%M%p").downcase + " - " + event.endtime.strftime("%l:%M%p.").downcase %>
                                        <% else %>
                                            <%= event.day.strftime("%A, %B %e, %Y. ") + event.starttime.strftime("%l:%M%p.").downcase %>
                                        <% end %>
                                        <%= event.location + "." %>
                                    <% end %>
                                </p>
                            </td>
                        </tr>

                        <% if event.photo? %>
                            <tr>
                                <td colspan="2" style="padding:5px 0;">
                                    <a href="<%= event.photo.url %>"><img src="<%= event.photo.url(:newsletter) %>" style="border:5px solid #332c29;border-radius:5px;"></a>
                                </td>
                            </tr>
                        <% end %>

                        <tr>
                            <td colspan="2" style="border-bottom:1px solid #ded3b7;font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;font-size:14px;">
                                <p><%= event.info.html_safe %></p>
                            </td>
                        </tr>
                    <% end %>   

                    <tr>
                        <td colspan="2">
                            <p style="font-family:'Tw Cen MT','Century Gothic',sans-serif;color:#332c29;text-align:center;font-size:14px;">Want more? Visit <a href="http://yalecasa.herokuapp.com" target="_blank">yale.edu/casa</a>!<br>
                            Check out our <a href="http://www.facebook.com/groups/2200024806/" target="_blank">Facebook</a>!<br>
                            Need to modify your subscription? Click <a href="http://www.mailman.yale.edu/mailman/listinfo/casa-list" target="_blank">here</a>.
                            </p>
                        </td>
                    </tr>
                </tbody></table>
                <table style="background-color:#332c29;padding:10px;" border="0" cellpadding="0" cellspacing="0" width="500">
                    <tbody><tr><td></td></tr>
                </tbody></table>
            </div>
            </td>
        </tr>
    </tbody></table>
</div>