<!DOCTYPE html>
<html>
<head>
 	<title>Chinese American Students Association of Yale University</title>

	<meta name="description" content="The Chinese American Students' Association (CASA) promotes awareness of Chinese and Chinese American culture and identity within the Yale community." />
 	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<script language="javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<div id="picbg"></div>

<div id="container">
	<div id="nav">
		<div class="navbutton">
			<a href="/"><img src="<%= asset_path 'home hover.png' %>" alt="Home" /></a>
			<div class="navhover"><a href="/"><img src="<%= asset_path 'home button.png' %>" alt="Home" /></a></div>
		</div>

		<div class="navbutton">
			<a href="/about"><img src="<%= asset_path 'about hover.png' %>" alt="About" /></a>
			<div class="navhover"><a href="/about"><img src="<%= asset_path 'about button.png' %>" alt="About" /></a></div>
		</div>

		<div class="logobutton">
			<a href="/"><img class="dragon" src="<%= asset_path 'logo hover.png' %>" alt="Home" /></a>
			<div class="logohover"><a href="/"><img src="<%= asset_path 'logo.png' %>" alt="Home" /></a></div>
		</div>

		<div class="navbutton">
			<a href="/list"><img src="<%= asset_path 'events hover.png' %>" alt="Events" /></a>
			<div class="navhover"><a href="/list"><img src="<%= asset_path 'events button.png' %>" alt="Events" /></a></div>
		</div>

		<div class="navbutton">
			<a href="/photos"><img src="<%= asset_path 'photos hover.png' %>" alt="Photos" /></a>
			<div class="navhover"><a href="/photos"><img src="<%= asset_path 'photos button.png' %>" alt="Photos" /></a></div>
		</div>
	</div>

<%= yield %>

</div>

<div id="footer">
	<div id="footer-container">
		<div id="footernav">
			<a href="/"><h2>Home</h2></a>
			<a href="/about"><h2>About</h2></a>
			<a href="/list"><h2>Events</h2></a>
			<a href="/photos"><h2>Photos</h2></a>
		</div>
		<br />
		<img id="bottomdivider" src="<%= asset_path 'bottom divider.png' %>" alt="divider">

		<p>© Marvin Qian 2013</p>
	</div>
</div>

</body>
</html>
