<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <br />
  <div class="field">
    <%= f.label :college %>
    <%= f.select :college, ["Berkeley", "Branford", "Calhoun", "Davenport", "Ezra Stiles", "Jonathan Edwards", "Morse", "Pierson", "Saybrook", "Silliman", "Timothy Dwight", "Trumbull"], :prompt => 'Select One' %>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Graduation Year' %>
    <%= f.date_select :gradyear, { :start_year => DateTime.now.year + 1, :end_year => DateTime.now.year + 4, :discard_day => true, :discard_month => true, :prompt => "Select One" } %>
  </div>
  <br />
  <div class="field">
    <%= f.label :major %>
    <%= f.text_field :major %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_area :blurb %>
  </div>
  <br />
  <div class="field">
    Facebook ID (<%= link_to "help", "http://findmyfacebookid.com/", target: "blank" %>)<br />
    <%= f.text_field :fbid %>
  </div>
  <br />
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
